[Unit]
Description=Microsft Azure Linux Agent
After=network.target
ConditionVirtualization=microsoft
ConditionFileIsExecutable=/usr/sbin/waagent
ConditionPathExists=/etc/waagent.conf

[Service]
EnvironmentFile=-/etc/default/walinuxagent
ExecCondition=/usr/bin/test "$WALINUXAGENT_ENABLED" = "1"
ExecStart=/usr/sbin/waagent -daemon
RuntimeDirectory=waagent
RuntimeDirectoryMode=0755
User=waagent
Group=waagent

[Install]
WantedBy=multi-user.target
